@use "../variable";

.button {
    padding: 12px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    align-items: center;
    border-radius: 20px;

    &--primary {
        color: variable.$textColor;
        background-color: variable.$august-tradition-purple;
    }

    @media (max-width: 640px) {
        display: block;
        width: 100%;
    }

    @media (max-width: 1024px) {
        display: flex;
    }
}
