@use "variable";

.event {
    padding: 80px 0;

    &--frontend {
        background-image: linear-gradient(variable.$red1, variable.$red2);
    }

    &--ui-ux {
        background-image: linear-gradient(variable.$red2, variable.$pink);
    }

    &--data-science {
        background-image: linear-gradient(variable.$pink, variable.$yellow);
    }

    &--backend {
        background-image: linear-gradient(variable.$yellow, variable.$pink);
    }

    &--image-left {
        .container {
            flex-direction: row-reverse;
        }
    }

    .container {
        gap: 40px;
        display: flex;
    }

    &__image {
        width: 360px;
        height: 360px;
        border-radius: 50%;
        object-fit: cover;
    }
    

    &__details {
        background-color: #1e60b68c;
        border-radius: 10px 70px;
        padding: 10px;

        &__title {
            font-size: 18px;
            font-weight: bold;
            text-align: center;

        }

        &__description {
            font-size: 16px;
            line-height: 22px;
        }
    }

    @media (max-width: 640px) {
        .container {
            display: block;
        }

        &__image {
            width: 100%;
        }

        &__datails {
            border-radius: 5px 5px;
            margin-right: 0;
            margin-bottom: 16px;
        }
    }

}