@use "variable";

.event {
    padding: 80px 0;

    &--frontend {
        background-image: linear-gradient(variable.$august-sky-blue, variable.$august-folklore-red);
    }

    &--ui-ux {
        background-image: linear-gradient(variable.$august-folklore-red, variable.$august-floral-pink);
    }

    &--data-science {
        background-image: linear-gradient(variable.$august-floral-pink, variable.$august-sun-green);
    }

    &--backend {
        background-image: linear-gradient(variable.$august-sun-green, variable.$august-floral-pink);
    }

    &--image-left {
        .container {
            flex-direction: row-reverse;
        }
    }

    .container {
        gap: 40px;
        display: flex;
    }

    &__image {
        width: 300px;
        height: 300px;
        border-radius: 50%;
        object-fit: cover;
    }
    

    &__details {
        background-color: variable.$primary-background;
        border-radius: 10px 70px;
        padding: 10px;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        
        &__title {
            font-size: 18px;
            text-transform: uppercase;
            font-weight: bold;
            text-align: center;
            margin-bottom: 20px;

        }

        &__description {
            font-size: 16px;
            line-height: 22px;
        }
    }

    @media (max-width: 640px) {
        .container {
            display: block;
        }

        &__image {
            width: 100%;
        }

        &__datails {
            border-radius: 5px 5px;
            margin-right: 0;
            margin-bottom: 16px;
        }
    }

}