@use "variable";

.hero {
    padding-top: 64;
    padding-bottom: 100px;
    background-image: url(../images/fundo.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

    .container {
        position: relative;
    }

    &::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: variable.$red1;
        content: "";
        opacity: 0.7;
    }

    &__text {
        margin-top: 64px;
        margin-bottom: 64px;
        font-size: 40px;
        line-height: 56px;
        color: #fff;
        font-weight: 800;
        text-align: center;
    }

    &__logo {
        margin: 0 auto;
        height: 150px;
        display: block;
    }

    @media (max-width: 640px) {
        padding: 40px;

        &__logo {
            height: 100px;
        }

        &__text {
            font-size: 22px;
            line-height: 24px;
            margin: 24px 0;
        }
    }

    @media (max-width: 1024px) {
    }
}
