@use "variable";

.history {
    padding: 80px 0;
    background-image: radial-gradient(circle 600px at center, variable.$august-tradition-purple, variable.$august-sky-blue);

    &__details {
        display: flex;
        align-items: center;
        flex-wrap:wrap;
        justify-content: center;
        &__image {
            display: block;
            max-width: 100%;
            border-radius: 10%;
        }
        &__title {
            text-transform: uppercase;
            font-size: 30px;
            font-weight: bold;
            text-align: center;
            border-radius: 10px;
            padding: 10px;
        }

        &__description {
            font-size:20px;
            line-height: 22px;
            border-radius: 10px;
            padding: 10px;
            margin-bottom: 16px;
        }



    }

    @media (max-width: 640px) {
        .container {
            display: block;
        }

        &__image {
            width: 100%;
        }

        &_-datails {
            margin-right: 0;
            margin-bottom: 16px;
        }
    }
}