$textColor: #fff;
$secondaryTextColor: #000;
$gray: #393939;

$august-sky-blue: #3d7ef7;

$august-folklore-red: #9d1800;

$august-floral-pink: #882941;

$august-sun-green: #85931d;

$august-tradition-purple: #4f2ac3;

$primary-background: #1e60b68c;